@import '../../styles/colors';

.Cover {
  background-color: $color-black;
  width: 100%;
  display: flex;
  justify-content: center;

  &__image {
    object-fit: cover;
    height: 100vh;

    @media (max-width: 425px) {
      width: 80%;
      height: auto;
    }
  }

  &--small {
    background-color: transparent !important;
    justify-content: flex-start;
  }

  &--small > &__image {
    width: 150px;
    height: 100px;
  }

  &--medium > &__image {
    max-width: 550px;
    max-height: 350px;

    @media (max-width: 425px) {
      width: 100%;
      height: auto;
    }
  }
}
