$color-black: #000000;
$color-white: #FFFFFF;

$color-blossom: rgb(236, 9, 116);
$color-bubbles: rgb(0, 137, 207);
$color-buttercup: #56BA48;

$color-logo-outer-black: #201E1F;
$color-logo-outer-white: #FFFFFF;
$color-logo-inner: #F16BA8;
$color-logo-star: #F3E717;

$color-row-odd: #F2F2F2;
$color-row-even: #D9D9D9;
