$color-black: #000000;
$color-white: #FFFFFF;

$color-blossom: #EC0974;
$color-bubbles: #0089CF;
$color-buttercup: #56BA48;

$color-logo-outer-black: #201E1F;
$color-logo-outer-white: #FFFFFF;
$color-logo-inner: #F16BA8;
$color-logo-star: #F3E717;

