@import '../../styles/colors';
@import '../../styles/spacing';

$border-radius-summary: 10px;

.Summary {
  background-color: $color-logo-inner;
  border-radius: $border-radius-summary;
  color: $color-white;
  margin: 0 $padding-main;
  padding: 0 $padding-main;
}
