@import '../../styles/colors';
@import '../../styles/spacing';

$height-navbar: 50px;

.NavBar {
  align-items: center;
  background-color: #F16BA8;
  display: flex;
  height: $height-navbar;
  position: fixed;
  width: 100%;
  color: $color-white;
  text-decoration: none;
  padding-left: $padding-navbar-big;

  &__title {
    padding-left: $padding-main;
  }
}
