@import '../../styles/colors';
@import '../../styles/spacing';

$height-navbar: 50px;
$width-navbar: 100%;

.NavBar {
  align-items: center;
  background-color: $color-logo-inner;
  color: $color-white;
  display: flex;
  height: $height-navbar;
  padding-left: $padding-navbar-big;
  position: fixed;
  text-decoration: none;
  width: $width-navbar;

  &__title {
    padding-left: $padding-main;
  }
}
